<html>
<head>
  <title>{{ page_title }}</title>
  <!-- bootstrap css -->
  <link rel="stylesheet" href="{{ static_url('js/lib/bootstrap/dist/css/bootstrap.min.css') }}"/>
  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script src="{{ static_url('js/lib/jquery/dist/jquery.min.js') }}"></script>
  <!-- 最新的 Bootstrap 核心 js 文件 -->
  <script src="{{ static_url('js/lib/bootstrap/dist/js/bootstrap.min.js') }}"></script>
  <!--react-->
  <script src="{{ static_url('js/lib/react/react.min.js') }}"></script>
  <script src="{{ static_url('js/lib/react/react-dom.min.js') }}"></script>
  <script src="{{ static_url('js/lib/browser.min.js') }}"></script>
  <!-- my lib -->
  <script src="{{ static_url('js/lib/functions.js') }}"></script>
  <!--css -->
  <style type="text/css">
    body{
      margin:20 0 0 0;
    }
  </style>
</head>
<body>
