
<table log-set-param="table_view" class="table-view log-set-param" width="629"><tr><td width="155" align="left" valign="center"><div class="para" label-module="para">backspace %08</div>
</td><td width="152" align="left" valign="center"><div class="para" label-module="para">I %49</div>
</td><td width="160" align="left" valign="center"><div class="para" label-module="para">v %76</div>
</td><td width="163" align="left" valign="center"><div class="para" label-module="para">ó %D3</div>
</td></tr><tr><td width="155" align="left" valign="center"><div class="para" label-module="para">tab %09</div>
</td><td width="152" align="left" valign="center"><div class="para" label-module="para">J %4A</div>
</td><td width="160" align="left" valign="center"><div class="para" label-module="para">w %77</div>
</td><td width="163" align="left" valign="center"><div class="para" label-module="para">&amp;Ocirc; %D4</div>
</td></tr><tr><td width="155" align="left" valign="center"><div class="para" label-module="para">linefeed %0A</div>
</td><td width="152" align="left" valign="center"><div class="para" label-module="para">K %4B</div>
</td><td width="160" align="left" valign="center"><div class="para" label-module="para">x %78</div>
</td><td width="163" align="left" valign="center"><div class="para" label-module="para">&amp;Otilde; %D5</div>
</td></tr><tr><td width="155" align="left" valign="center"><div class="para" label-module="para">creturn %0D</div>
</td><td width="152" align="left" valign="center"><div class="para" label-module="para">L %4C</div>
</td><td width="160" align="left" valign="center"><div class="para" label-module="para">y %79</div>
</td><td width="163" align="left" valign="center"><div class="para" label-module="para">&amp;Ouml; %D6</div>
</td></tr><tr><td width="155" align="left" valign="center"><div class="para" label-module="para">space %20</div>
</td><td width="152" align="left" valign="center"><div class="para" label-module="para">M %4D</div>
</td><td width="160" align="left" valign="center"><div class="para" label-module="para">z %7A</div>
</td><td width="163" align="left" valign="center"><div class="para" label-module="para">&amp;Oslash; %D8</div>
</td></tr><tr><td width="155" align="left" valign="center"><div class="para" label-module="para">! %21</div>
</td><td width="152" align="left" valign="center"><div class="para" label-module="para">N %4E</div>
</td><td width="160" align="left" valign="center"><div class="para" label-module="para">{ %7B</div>
</td><td width="163" align="left" valign="center"><div class="para" label-module="para">ù %D9</div>
</td></tr><tr><td width="155" align="left" valign="center"><div class="para" label-module="para">&quot; %22</div>
</td><td width="152" align="left" valign="center"><div class="para" label-module="para">O %4F</div>
</td><td width="160" align="left" valign="center"><div class="para" label-module="para">| %7C</div>
</td><td width="163" align="left" valign="center"><div class="para" label-module="para">ú　 %DA</div>
</td></tr><tr><td width="155" align="left" valign="center"><div class="para" label-module="para"># %23</div>
</td><td width="152" align="left" valign="center"><div class="para" label-module="para">P %50</div>
</td><td width="160" align="left" valign="center"><div class="para" label-module="para">} %7D</div>
</td><td width="163" align="left" valign="center"><div class="para" label-module="para">&amp;Ucirc; %DB</div>
</td></tr><tr><td width="155" align="left" valign="center"><div class="para" label-module="para">$ %24</div>
</td><td width="152" align="left" valign="center"><div class="para" label-module="para">Q %51</div>
</td><td width="160" align="left" valign="center"><div class="para" label-module="para">~ %7E</div>
</td><td width="163" align="left" valign="center"><div class="para" label-module="para">ü %DC</div>
</td></tr><tr><td width="155" align="left" valign="center"><div class="para" label-module="para">% %25</div>
</td><td width="152" align="left" valign="center"><div class="para" label-module="para">R %52</div>
</td><td width="160" align="left" valign="center"><div class="para" label-module="para">￠ %A2</div>
</td><td width="163" align="left" valign="center"><div class="para" label-module="para">Y %DD</div>
</td></tr><tr><td width="155" align="left" valign="center"><div class="para" label-module="para">&amp; %26</div>
</td><td width="152" align="left" valign="center"><div class="para" label-module="para">S %53</div>
</td><td width="160" align="left" valign="center"><div class="para" label-module="para">￡ %A3</div>
</td><td width="163" align="left" valign="center"><div class="para" label-module="para">T %DE</div>
</td></tr><tr><td width="155" align="left" valign="center"><div class="para" label-module="para">&#39; %27</div>
</td><td width="152" align="left" valign="center"><div class="para" label-module="para">T %54</div>
</td><td width="160" align="left" valign="center"><div class="para" label-module="para">￥ %A5</div>
</td><td width="163" align="left" valign="center"><div class="para" label-module="para">&amp;szlig; %DF</div>
</td></tr><tr><td width="155" align="left" valign="center"><div class="para" label-module="para">( %28</div>
</td><td width="152" align="left" valign="center"><div class="para" label-module="para">U %55</div>
</td><td width="160" align="left" valign="center"><div class="para" label-module="para">| %A6</div>
</td><td width="163" align="left" valign="center"><div class="para" label-module="para">à %E0</div>
</td></tr><tr><td width="155" align="left" valign="center"><div class="para" label-module="para">) %29</div>
</td><td width="152" align="left" valign="center"><div class="para" label-module="para">V %56</div>
</td><td width="160" align="left" valign="center"><div class="para" label-module="para">§ %A7</div>
</td><td width="163" align="left" valign="center"><div class="para" label-module="para">á %E1</div>
</td></tr><tr><td width="155" align="left" valign="center"><div class="para" label-module="para">* %2A</div>
</td><td width="152" align="left" valign="center"><div class="para" label-module="para">W %57</div>
</td><td width="160" align="left" valign="center"><div class="para" label-module="para">&amp;laquo; %AB</div>
</td><td width="163" align="left" valign="center"><div class="para" label-module="para">a %E2</div>
</td></tr><tr><td width="155" align="left" valign="center"><div class="para" label-module="para">+ %2B</div>
</td><td width="152" align="left" valign="center"><div class="para" label-module="para">X %58</div>
</td><td width="160" align="left" valign="center"><div class="para" label-module="para">&amp;not; %AC</div>
</td><td width="163" align="left" valign="center"><div class="para" label-module="para">&amp;atilde; %E3</div>
</td></tr><tr><td width="155" align="left" valign="center"><div class="para" label-module="para">, %2C</div>
</td><td width="152" align="left" valign="center"><div class="para" label-module="para">Y %59</div>
</td><td width="160" align="left" valign="center"><div class="para" label-module="para">ˉ %AD</div>
</td><td width="163" align="left" valign="center"><div class="para" label-module="para">&amp;auml; %E4</div>
</td></tr><tr><td width="155" align="left" valign="center"><div class="para" label-module="para">- %2D</div>
</td><td width="152" align="left" valign="center"><div class="para" label-module="para">Z %5A</div>
</td><td width="160" align="left" valign="center"><div class="para" label-module="para">o %B0</div>
</td><td width="163" align="left" valign="center"><div class="para" label-module="para">&amp;aring; %E5</div>
</td></tr><tr><td width="155" align="left" valign="center"><div class="para" label-module="para">. %2E</div>
</td><td width="152" align="left" valign="center"><div class="para" label-module="para">[ %5B</div>
</td><td width="160" align="left" valign="center"><div class="para" label-module="para">± %B1</div>
</td><td width="163" align="left" valign="center"><div class="para" label-module="para">&amp;aelig; %E6</div>
</td></tr><tr><td width="155" align="left" valign="center"><div class="para" label-module="para">/ %2F</div>
</td><td width="152" align="left" valign="center"><div class="para" label-module="para">\ %5C</div>
</td><td width="160" align="left" valign="center"><div class="para" label-module="para">a %B2</div>
</td><td width="163" align="left" valign="center"><div class="para" label-module="para">&amp;ccedil; %E7</div>
</td></tr><tr><td width="155" align="left" valign="center"><div class="para" label-module="para">0 %30</div>
</td><td width="152" align="left" valign="center"><div class="para" label-module="para">] %5D</div>
</td><td width="160" align="left" valign="center"><div class="para" label-module="para">, %B4</div>
</td><td width="163" align="left" valign="center"><div class="para" label-module="para">è %E8</div>
</td></tr><tr><td width="155" align="left" valign="center"><div class="para" label-module="para">1 %31</div>
</td><td width="152" align="left" valign="center"><div class="para" label-module="para">^ %5E</div>
</td><td width="160" align="left" valign="center"><div class="para" label-module="para">μ %B5</div>
</td><td width="163" align="left" valign="center"><div class="para" label-module="para">é %E9</div>
</td></tr><tr><td width="155" align="left" valign="center"><div class="para" label-module="para">2 %32</div>
</td><td width="152" align="left" valign="center"><div class="para" label-module="para">_ %5F</div>
</td><td width="160" align="left" valign="center"><div class="para" label-module="para">&amp;raquo; %BB</div>
</td><td width="163" align="left" valign="center"><div class="para" label-module="para">ê %EA</div>
</td></tr><tr><td width="155" align="left" valign="center"><div class="para" label-module="para">3 %33</div>
</td><td width="152" align="left" valign="center"><div class="para" label-module="para">` %60</div>
</td><td width="160" align="left" valign="center"><div class="para" label-module="para">&amp;frac14; %BC</div>
</td><td width="163" align="left" valign="center"><div class="para" label-module="para">&amp;euml; %EB</div>
</td></tr><tr><td width="155" align="left" valign="center"><div class="para" label-module="para">4 %34</div>
</td><td width="152" align="left" valign="center"><div class="para" label-module="para">a %61</div>
</td><td width="160" align="left" valign="center"><div class="para" label-module="para">&amp;frac12; %BD</div>
</td><td width="163" align="left" valign="center"><div class="para" label-module="para">ì %EC</div>
</td></tr><tr><td width="155" align="left" valign="center"><div class="para" label-module="para">5 %35</div>
</td><td width="152" align="left" valign="center"><div class="para" label-module="para">b %62</div>
</td><td width="160" align="left" valign="center"><div class="para" label-module="para">&amp;iquest; %BF</div>
</td><td width="163" align="left" valign="center"><div class="para" label-module="para">í %ED</div>
</td></tr><tr><td width="155" align="left" valign="center"><div class="para" label-module="para">6 %36</div>
</td><td width="152" align="left" valign="center"><div class="para" label-module="para">c %63</div>
</td><td width="160" align="left" valign="center"><div class="para" label-module="para">à %C0</div>
</td><td width="163" align="left" valign="center"><div class="para" label-module="para">&amp;icirc; %EE</div>
</td></tr><tr><td width="155" align="left" valign="center"><div class="para" label-module="para">7 %37</div>
</td><td width="152" align="left" valign="center"><div class="para" label-module="para">d %64</div>
</td><td width="160" align="left" valign="center"><div class="para" label-module="para">á %C1</div>
</td><td width="163" align="left" valign="center"><div class="para" label-module="para">&amp;iuml; %EF</div>
</td></tr><tr><td width="155" align="left" valign="center"><div class="para" label-module="para">8 %38</div>
</td><td width="152" align="left" valign="center"><div class="para" label-module="para">e %65</div>
</td><td width="160" align="left" valign="center"><div class="para" label-module="para">&amp;Acirc; %C2</div>
</td><td width="163" align="left" valign="center"><div class="para" label-module="para">e %F0</div>
</td></tr><tr><td width="155" align="left" valign="center"><div class="para" label-module="para">9 %39</div>
</td><td width="152" align="left" valign="center"><div class="para" label-module="para">f %66</div>
</td><td width="160" align="left" valign="center"><div class="para" label-module="para">&amp;Atilde; %C3</div>
</td><td width="163" align="left" valign="center"><div class="para" label-module="para">&amp;ntilde; %F1</div>
</td></tr><tr><td width="155" align="left" valign="center"><div class="para" label-module="para">: %3A</div>
</td><td width="152" align="left" valign="center"><div class="para" label-module="para">g %67</div>
</td><td width="160" align="left" valign="center"><div class="para" label-module="para">&amp;Auml; %C4</div>
</td><td width="163" align="left" valign="center"><div class="para" label-module="para">ò %F2</div>
</td></tr><tr><td width="155" align="left" valign="center"><div class="para" label-module="para">; %3B</div>
</td><td width="152" align="left" valign="center"><div class="para" label-module="para">h %68</div>
</td><td width="160" align="left" valign="center"><div class="para" label-module="para">&amp;Aring; %C5</div>
</td><td width="163" align="left" valign="center"><div class="para" label-module="para">ó %F3</div>
</td></tr><tr><td width="155" align="left" valign="center"><div class="para" label-module="para">&lt; %3C</div>
</td><td width="152" align="left" valign="center"><div class="para" label-module="para">i %69</div>
</td><td width="160" align="left" valign="center"><div class="para" label-module="para">&amp;AElig; %C6</div>
</td><td width="163" align="left" valign="center"><div class="para" label-module="para">&amp;ocirc; %F4</div>
</td></tr><tr><td width="155" align="left" valign="center"><div class="para" label-module="para">= %3D</div>
</td><td width="152" align="left" valign="center"><div class="para" label-module="para">j %6A</div>
</td><td width="160" align="left" valign="center"><div class="para" label-module="para">&amp;Ccedil; %C7</div>
</td><td width="163" align="left" valign="center"><div class="para" label-module="para">&amp;otilde; %F5</div>
</td></tr><tr><td width="155" align="left" valign="center"><div class="para" label-module="para">&gt; %3E</div>
</td><td width="152" align="left" valign="center"><div class="para" label-module="para">k %6B</div>
</td><td width="160" align="left" valign="center"><div class="para" label-module="para">è %C8</div>
</td><td width="163" align="left" valign="center"><div class="para" label-module="para">&amp;ouml; %F6</div>
</td></tr><tr><td width="155" align="left" valign="center"><div class="para" label-module="para">%3F</div>
</td><td width="152" align="left" valign="center"><div class="para" label-module="para">l %6C</div>
</td><td width="160" align="left" valign="center"><div class="para" label-module="para">é　 %C9</div>
</td><td width="163" align="left" valign="center"><div class="para" label-module="para">÷　 %F7</div>
</td></tr><tr><td width="155" align="left" valign="center"><div class="para" label-module="para">@ %40</div>
</td><td width="152" align="left" valign="center"><div class="para" label-module="para">m %6D</div>
</td><td width="160" align="left" valign="center"><div class="para" label-module="para">ê %CA</div>
</td><td width="163" align="left" valign="center"><div class="para" label-module="para">&amp;oslash; %F8</div>
</td></tr><tr><td width="155" align="left" valign="center"><div class="para" label-module="para">A %41</div>
</td><td width="152" align="left" valign="center"><div class="para" label-module="para">n %6E</div>
</td><td width="160" align="left" valign="center"><div class="para" label-module="para">&amp;Euml; %CB</div>
</td><td width="163" align="left" valign="center"><div class="para" label-module="para">ù %F9</div>
</td></tr><tr><td width="155" align="left" valign="center"><div class="para" label-module="para">B %42</div>
</td><td width="152" align="left" valign="center"><div class="para" label-module="para">o %6F</div>
</td><td width="160" align="left" valign="center"><div class="para" label-module="para">ì　 %CC</div>
</td><td width="163" align="left" valign="center"><div class="para" label-module="para">ú　 %FA</div>
</td></tr><tr><td width="155" align="left" valign="center"><div class="para" label-module="para">C %43</div>
</td><td width="152" align="left" valign="center"><div class="para" label-module="para">p %70</div>
</td><td width="160" align="left" valign="center"><div class="para" label-module="para">í %CD</div>
</td><td width="163" align="left" valign="center"><div class="para" label-module="para">&amp;ucirc; %FB</div>
</td></tr><tr><td width="155" align="left" valign="center"><div class="para" label-module="para">D %44</div>
</td><td width="152" align="left" valign="center"><div class="para" label-module="para">q %71</div>
</td><td width="160" align="left" valign="center"><div class="para" label-module="para">&amp;Icirc; %CE</div>
</td><td width="163" align="left" valign="center"><div class="para" label-module="para">ü %FC</div>
</td></tr><tr><td width="155" align="left" valign="center"><div class="para" label-module="para">E %45</div>
</td><td width="152" align="left" valign="center"><div class="para" label-module="para">r %72</div>
</td><td width="160" align="left" valign="center"><div class="para" label-module="para">&amp;Iuml; %CF</div>
</td><td width="163" align="left" valign="center"><div class="para" label-module="para">y %FD</div>
</td></tr><tr><td width="155" align="left" valign="center"><div class="para" label-module="para">F %46</div>
</td><td width="152" align="left" valign="center"><div class="para" label-module="para">s %73</div>
</td><td width="160" align="left" valign="center"><div class="para" label-module="para">D %D0</div>
</td><td width="163" align="left" valign="center"><div class="para" label-module="para">t %FE</div>
</td></tr><tr><td width="155" align="left" valign="center"><div class="para" label-module="para">G %47</div>
</td><td width="152" align="left" valign="center"><div class="para" label-module="para">t %74</div>
</td><td width="160" align="left" valign="center"><div class="para" label-module="para">&amp;Ntilde; %D1</div>
</td><td width="163" align="left" valign="center"><div class="para" label-module="para">&amp;yuml; %FF</div>
</td></tr><tr><td width="155" align="left" valign="center"><div class="para" label-module="para">H %48</div>
</td><td width="152" align="left" valign="center"><div class="para" label-module="para">u %75</div>
</td><td width="160" align="left" valign="center"><div class="para" label-module="para">ò %D2</div>
</td><td width="163" align="left" valign="center"><br/>
</td></tr>
</table>
